<html>
    <head>
        <title>Ejemplo 3</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <a href="ejemplo2.html">Back</a>|
        <a href="index.html">Home</a>|
        <a href="ejemplo4.html">Next</a><br>
        <div>
            <h1 style="text-align: center">Ejemplo3</h1>
            <p>Bienvenido a la pagina de la Tienda</p>
        </div>
        
        <p>Comentario de <strong>prueba de texto</strong></p><!-- Cambia a Negrita -->
        <p>Comentario de <u>prueba de texto</u></p><!-- Cambia a Subrayada -->
        <p>Comentario de <i>prueba de texto</i></p><!-- Cambia a Cursiva -->
        
        <br>
        <br>
        <p>Ultima Linea</p>
    </body>
</html>
