<html>
    <head>
        <title>Ejemplo 2</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <a href="index.html">Home</a>|
        <a href="ejemplo3.html">Next</a><br>
        <div>
            <h1 style="text-align: center">Ejemplo2</h1>
            <p>Bienvenido a la pagina de la Tienda</p>
        </div>
        
        <div style="text-align: center">
            <p>Linea 1</p>
            <p>Linea 2</p>
            <p>Linea 3</p>
        </div>
        <br>
        <br>
        <p>Ultima Linea</p>
    </body>
</html>
