<html>
    <head>
        <title>Tienda Virtual</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1 style="text-align: center">Home</h1>
            <p style="text-align: center">Bienvenido a la pagina de la Tienda</p>
            <a href="ejemplo9.html">Back</a>|
            <a href="index.html">Home</a>|
            <a href="ejemplo2.html">Next</a><br>
        <div>
        <p style="text-align: left">Texto a la izquierda</p>
        <p style="text-align: right">Texto a la derecha</p>
        <p style="text-align: center">Texto al centro</p>
        
        <br>
        <br>
        
        <p>Ultima Linea</p>
    </body>
</html>
